<div ng-controller="HeaderController" ng-init="init()">
    <div class="navbar navbar-default" role="navigation" ng-if="location.path() != '/login'">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">RAM</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a ng-class="{active: (location.path() == '/home')}" href="#/home">Home</a>
                    </li>
                    <li>
                        <a ng-class="{active: (location.path() == '/asset')}" href="#/asset">Asset</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>