<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div class="container" ng-init="init()">
    <form class="login-form" name="form" ng-submit="login()" role="form">
        <div class="login-form">
            <div class="form-group">
                <label for="username">Username</label>
                <i class="fa fa-key"></i>
                <input type="text" name="username" id="username" class="form-control" ng-model="username" required/>
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="password" required/>
                <span ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
            </div>
        </div>
    </form>
</div>
