<div ng-init="init()">
    <div class="container users-list">
        <div>
            <button class="btn btn-primary">Create user</button>
        </div>
        <table class="table table-responsive">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Birth</th>
            </tr>
            <tr ng-repeat="user in model.users">
                <td>{{::user.email}}</td>
                <td>{{::user.name}}</td>
                <td>{{::user.lastName}}</td>
                <td>{{::user.birthDate || '-'}}</td>
            </tr>
        </table>
    </div>
</div>